@function flex-grid($columns: 1, $total-columns: 1, $length: '%', $fullscreen: false) {
    @return calc(#{flex-grid-value($columns, $total-columns, $length, $fullscreen)});
}

@function flex-grid-value($columns: 1, $total-columns: 1, $length: '%', $fullscreen: false) {
    $num-gutters: if($fullscreen, $total-columns + 1, $total-columns - 1);
    $total-width: '(100#{$length} - #{$num-gutters} * var(--gutter))';
    $result: '(#{$total-width} / #{$total-columns})';

    @if  $columns != 1 {
        $result: '#{$result} * #{$columns} + #{$columns - 1} * var(--gutter)';
    }

    @return $result;
}
