@use "sass:list";
@use "sass:meta";
@use "sass:string";

// @see https://gist.github.com/danielpchen/1bef5000cfda98dbf6be
// @function implode() -- join list elements to form a single string
//  {string} $pieces: the list of strings to implode
//  {string} $glue: the "glue" between elements in the result string
//  @return {string} the result string
@function list-implode($pieces, $glue: "") {
	$result: null;
	@for $i from 1 through list.length($pieces) {
		$piece: list.nth($pieces, $i);
		@if meta.type-of($piece) == list {
			$result: string.unquote("#{$result}#{$glue}#{implode($piece, $glue)}");
		} @else {
			$result: string.unquote("#{$result}#{$glue}#{$piece}");
		}
	}
	@if $result != null {
		$result: string.slice($result, string.length($glue) + 1, -1);
	}
	@return $result;
}
