.git
.idea
.gitignore
README.md
arguments.txt
.dockerignore
.env.sample
.env
.gitlab-ci.yml
docker-compose.yml
.docker
!.docker/nginx/custom-nginx.conf
!.docker/nginx/default.conf
!.docker/nginx-static/default.conf
!.docker/varnish/default.vcl
