@import '~poly-fluid-sizing';

@mixin fluid($property, $map) {
    $formatted-map: ();

    @each $key, $value in $map {
        @if (
            type-of($key) == string and
            type-of($breakpoints) == map and
            map-has-key($breakpoints, $key)
        ) {
            $key: map-get($breakpoints, $key);
        }

        $formatted-map: map-merge($formatted-map, ($key: $value));
    }

    @include poly-fluid-sizing($property, $formatted-map);
}
