@use '../../../assets/scss/mixins/css-vars-map';

$vars: (
    (
        vars: (
            sm: (),
        ),
        prefix: ''),
    (
        vars: (),
        prefix: 'icon'
    ),
    (
        vars: (
            sm: (
                font-size: 14px,
            ),
            md: (
                font-size: 16px,
            ),
            lg: (
                font-size: 18px,
            ),
        ),
        prefix: 'label')
);

@mixin size($size) {
    @include css-vars-map.deep-get($vars, $size, 'v-button');
}
