/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element */
:where([contenteditable]:not([contenteditable="false"])) {
    -webkit-line-break: after-white-space;
    overflow-wrap: break-word;
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}
