@mixin component-default-vars($vars, $base: '', $prefix: '', $default: 'm') {
    @if map-has-key($vars, $default) {
        $default: map-get($vars, $default);

        @each $key, $value in $default {
            #{$key}: var(#{list-implode(('--', $base, $prefix, $key), '-')}, $value);
        }
    } @else if map-has-key($vars, 'default') {
        $default: map-get($vars, 'default');

        @each $key, $value in $default {
            #{$key}: var(#{list-implode(('--', $base, $prefix, $key), '-')}, $value);
        }
    }
}

@mixin component-vars-by-size($vars, $size, $base: '', $prefix: '') {
    @if  map-has-key($vars, $size) {
        $size-vars: map-get($vars, $size);

        @each $key, $value in $size-vars {
            #{list-implode(('--', $base, $prefix, $key), '-')}: #{$value};
        }
    }
}

@mixin default-css-vars($base-name, $vars, $prefix: '', $default: 'm') {
    @include component-default-vars($vars, $base-name, $prefix, $default);
}

@mixin css-vars-by-size($base-name, $vars, $size, $prefix: '') {
    @include component-vars-by-size($vars, $size, $base-name, $prefix);
}
