@mixin grid-container {
    width: var(--grid-width);
    max-width: var(--grid-max-width);
    margin-inline: auto;
}

@mixin grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));

    @include grid-container;
}
