@use 'sass:map';
@use 'sass:list';

/**
 * Get css vars for a specific size
 */
@mixin v-button-size($size, $variant: default) {
    @if map-has-key($v-button-size-vars-by-variant, $variant) {
        $vars: map-get($v-button-size-vars-by-variant, $variant);

        @each $value in $vars {
            @if map-has-key($value, vars) and map-has-key($value, prefix) {
                @include v-button-css-vars-by-size(map-get($value, vars), $size, map-get($value, prefix));
            }
        }
    }
}

@mixin v-button-css-vars-by-size($vars, $size, $prefix: '') {
    @include css-vars-by-size('v-button', $vars, $size, $prefix);
}

/**
 * Set property with appropriate css var name and default value
 */
@mixin init-v-button-css-vars($vars, $prefix: '', $default: 'md') {
    // Add common values
    @include default-css-vars('v-button', $vars, $prefix, 'common');

    // Add specific size values
    @include default-css-vars('v-button', $vars, $prefix, $default);
}

/**
 * Get css vars for a specific variant
 */
@mixin v-button-variant-css-vars($vars: $v-button-size-vars-by-variant, $name: '', $prefix: '') {
    @if map-has-key($vars, $name) {
        $variant-values: map.get($vars, $name);

        // Loop through variant template item
        @each $vars, $prefixes in $variant-values {
            $variant-prefix: nth($prefixes, 2);

            @if $variant-prefix == $prefix {
                @include init-v-button-css-vars(nth($vars, 2), $prefix);
            }
        }
    }
}

@mixin init-v-button-emphasis-css-vars($name: 'high', $prefix: '') {
    @include v-button-variant-css-vars($v-button-emphasis, $name, $prefix);
}

@mixin init-v-button-variant-css-vars($name: '', $prefix: '') {
    @include v-button-variant-css-vars($v-button-variants, $name, $prefix);
}
