$themes: (
    light: (
        foreground-color: color(black),
        background-color: #fff,
    ),
    dark: (
        foreground-color: #fff,
        background-color: color(black),
    )
);

$default-theme: light;
