@use "sass:map";
@use "sass:math";

$v-button-size-vars-by-variant: () !default;

// root
$v-button: (
    common: (
        position: relative,
        display: inline-flex,
        align-items: center,
        justify-content: center,
        border: initial,
        padding: initial,
        background-color: initial,
        color: var(--theme-color-content-primary, initial),
        text-decoration: none,
    ),
    sm: (
        font-size: rem(14),
    ),
    md: (
        font-size: rem(16),
    ),
    lg: (
        font-size: rem(20),
    ),
    xl: (
        font-size: rem(24),
    )
);

// styles
$v-button-spacing: (
    sm: (
        min-width: rem(36), // width with icon-only
        padding-inline: rem(8),
        height: rem(36),
        max-width: rem(200),
    ),
    md: (
        min-width: rem(44),
        padding-inline: rem(12),
        height: rem(44),
        max-width: rem(350),
    ),
    lg: (
        min-width: rem(60),
        padding-inline: rem(16),
        height: rem(60),
        max-width: rem(350),
    ),
    xl: (
        min-width: rem(70),
        padding-inline: rem(8),
        height: rem(68),
        max-width: rem(380),
    )
);
$v-button-rounded: (
    common: (
        border-radius: rem(2),
    ),
);
$v-button-filled: (
    common: (
        background-color: var(--theme-color-content-primary),
        color: var(--theme-color-content-primary-inverted),
    ),
);
$v-button-outlined: (
    common: (
        border-width: 2px,
        border-style: solid,
        border-color: currentcolor
    ),
);
$v-button-disabled: (
    common: (
        color: var(--theme-v-button-disabled-color),
        background-color: var(--v-button-disabled-filled-background-color),
        border-color: var(--v-button-disabled-outlined-border-color),
    ),
);

// icon
$v-button-icon: (
    common: (
        display: flex,
        flex-shrink: 0,
        align-items: center,
        justify-content: center,
        color: currentcolor,
        height: auto,
    ),
);

// label
$v-button-label: (
    common: (
        position: relative,
        display: initial,
        text-overflow: ellipsis,
        white-space: nowrap,
    ),
    sm: (
        margin-inline: rem(2),
    ),
    md: (
        margin-inline: rem(4),
    ),
    lg: (
        margin-inline: rem(6),
    ),
    xl: (
        margin-inline: rem(8),
    ),
);

// Merged
$v-button-size-vars-by-variant: map-merge($v-button-size-vars-by-variant, (
    default: (
        (vars: $v-button, prefix: ''),
        (vars: $v-button-spacing, prefix: ''),
        (vars: $v-button-outlined, prefix: ''),
        (vars: $v-button-rounded, prefix: ''),
        (vars: $v-button-filled, prefix: ''),
        (vars: $v-button-disabled, prefix: ''),
        (vars: $v-button-icon, prefix: 'icon'),
        (vars: $v-button-label, prefix: 'label'),
    )
));
