@use "sass:map";
@use "sass:math";

$v-button-size-vars-by-variant: () !default;

// root
$v-button: (
    common: (
        font-weight: 500,
    ),
    s: (
        font-size: rem(14),
        min-width: rem(36), // width with icon-only
        padding-inline: rem(8),
        height: rem(36),
        max-width: rem(200),
    ),
    m: (
        font-size: rem(16),
        min-width: rem(44),
        padding-inline: rem(12),
        height: rem(44),
        max-width: rem(350),
    ),
    l: (
        font-size: rem(20),
        min-width: rem(60),
        padding-inline: rem(16),
        height: rem(60),
        max-width: rem(350),
    ),
    xl: (
        font-size: rem(24),
        min-width: rem(48),
        padding-inline: rem(8),
        height: rem(48),
        max-width: rem(350),
    )
);

// icon
$v-button-icon: ();

// label
$v-button-label: (
    s: (
        margin-inline: rem(2),
    ),
    m: (
        margin-inline: rem(4),
    ),
    l: (
        margin-inline: rem(6),
    ),
    xl: (
        margin-inline: rem(2) rem(2),
    ),
);

// styles
$v-button-rounded: (
    common: (
        border-radius: rem(2),
    ),
);

$v-button-filled: (
    common: (
        background-color: var(--theme-foreground-color),
        color: var(--theme-background-color),
    ),
);

$v-button-outlined: (
    common: (
        border-width: 2px,
        border-style: solid,
        border-color: currentColor
    ),
);

$v-button-disabled: (
    common: (
        color: var(--theme-v-button-disabled-color),
        background-color: var(--v-button-disabled-filled-background-color),
        border-color: var(--v-button-disabled-outlined-border-color),
    ),
);

$v-button-size-vars-by-variant: map-merge($v-button-size-vars-by-variant, (
    default: (
        (vars: $v-button, prefix: ''),
        (vars: $v-button-filled, prefix: 'filled'),
        (vars: $v-button-outlined, prefix: 'outlined'),
        (vars: $v-button-rounded, prefix: 'rounded'),
        (vars: $v-button-icon, prefix: 'icon'),
        (vars: $v-button-label, prefix: 'label'),
    )
));
