.grid {
    @include grid;
}

:root {
    @each $breakpoint, $value in $grid-widths {
        @if $breakpoint == 0 {
            --grid-width: #{$value};
        }
        @else {
            @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
                --grid-width: #{$value};
            }
        }
    }

    @each $breakpoint, $value in $grid-max-widths {
        @if $breakpoint == 0 {
            --grid-max-width: #{$value};
        }
        @else {
            @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
                --grid-max-width: #{$value};
            }
        }
    }

    @each $breakpoint, $value in $grid-columns {
        @if $breakpoint == 0 {
            --grid-columns: #{$value};
        }
        @else {
            @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
                --grid-columns: #{$value};
            }
        }
    }

    // Gutters
    @each $breakpoint, $value in $gutters {
        @if $breakpoint == 0 {
            --gutter: #{$value};
        }

        @else {
            @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
                --gutter: #{$value};
            }
        }
    }
}
